[submodule "wuffs-mirror-release-c"]
	path = wuffs-mirror-release-c
	url = https://github.com/google/wuffs-mirror-release-c
[submodule "liberty"]
	path = liberty
	url = https://git.janouch.name/p/liberty.git
