[Desktop Entry]
Type=Application
Name=fastiv
GenericName=File Browser
Icon=fastiv
Exec=fastiv --browse -- %u
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=Utility;FileTools;
MimeType=inode/directory;
