[Desktop Entry]
Type=Application
Name=fiv
GenericName=Image Browser
X-GNOME-FullName=fiv Image Browser
Icon=fiv
Exec=fiv --browse -- %u
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=Utility;FileTools;
MimeType=inode/directory;
